In [1]:

import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn.preprocessing import StandardScaler
sns.set()

# Data Anaylsis

In [2]:
#loading the data set
raw_data =pd.read_csv(r'rainfall in india 1901-2015.csv') 

#again using pandas inbuilt function "descirbe" to check if they are any missing values in the data 
raw_data.describe(include='all')

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
count,4116,4116.000000,4112.000000,4113.000000,4110.000000,4112.000000,4113.000000,4111.000000,4109.000000,4112.000000,4110.000000,4109.000000,4105.000000,4106.000000,4090.000000,4110.000000,4107.000000,4106.000000,4103.000000
unique,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,BIHAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1958.218659,18.957320,21.805325,27.359197,43.127432,85.745417,230.234444,347.214334,290.263497,197.361922,95.507009,39.866163,18.870580,1411.008900,40.747786,155.901753,1064.724769,154.100487
std,NaN,33.140898,33.585371,35.909488,46.959424,67.831168,123.234904,234.710758,269.539667,188.770477,135.408345,99.519134,68.685410,42.369611,903.846565,59.308277,201.316965,707.741531,166.942660
min,NaN,1901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,62.300000,0.000000,0.000000,57.400000,0.000000
25%,NaN,1930.000000,0.600000,0.600000,1.000000,3.000000,8.600000,70.350000,175.600000,155.975000,100.525000,14.600000,0.700000,0.100000,804.500000,4.100000,24.050000,573.850000,34.200000
50%,NaN,1958.000000,6.000000,6.700000,7.800000,15.700000,36.600000,138.700000,284.800000,259.400000,173.900000,65.200000,9.500000,3.000000,1121.300000,19.200000,74.800000,881.100000,98.200000
75%,NaN,1987.000000,22.200000,26.800000,31.300000,49.950000,97.200000,305.150000,418.400000,377.800000,265.800000,148.400000,46.100000,17.500000,1644.775000,50.375000,196.950000,1288.175000,213.500000
max,NaN,2015.000000,583.700000,403.500000,605.600000,595.100000,1168.600000,1609.900000,2362.800000,1664.600000,1222.000000,948.300000,648.900000,617.500000,6331.100000,699.500000,1745.800000,4536.900000,1252.500000

In [6]:
.describe?

Object `describe` not found.

In [ ]:
#isnull() gives us the sum of the missing values in the dataset
raw_data.isnull().sum()

In [ ]:
# dropping all the missing values as they are less than 5% of the total data.
data_cleaned = raw_data.dropna(axis=0)

#now checking the cleaned data 
data_cleaned.describe(include='all')

In [ ]:
#collecting names of the all the states in the dataset using the unique function in the pandas

x_names=data_cleaned.SUBDIVISION.unique()

np.where(x_names=='EAST UTTAR PRADESH')
x_names

# Plotting Average Rainfall of Every State from 1901-2015

In [ ]:
#now i have created a loop in which i have subsetted the data according to unique names i found out in the subdivision section.
#and i have plotted the annual rainfall from the year (1901-2015) for each state.
for i in range(0,36):
  subset_data = data_cleaned[data_cleaned.SUBDIVISION==x_names[i]]
  plt.figure(figsize=(50,25))
  sns.barplot(subset_data['YEAR'],subset_data['ANNUAL'])
  plt.ylabel(x_names[i],fontsize=20)
  plt.rcParams.update({'font.size': 22})
  plt.xticks(rotation=90,fontsize=25)
  plt.yticks(fontsize=25)
  #plt.savefig('x[0].png')
  print(x_names[i])

# Data Findings

In [ ]:
#From this analysis it is pretty clear that the states which are experiencing rapid development , their rainfall has subtainally
#decreased in comparison to other states which are not developing so fast. There is a strong corelation between Decreasing 
#rainfall and rapid development.

In [ ]:
#Now i have put all the unique years in a array
alltheyears =data_cleaned.YEAR.unique()

In [ ]:
#Here i have the sorted the array using sort function. And i created a Empty pandas dataframe with columns of Statename ,
#annual yearfall and the year corresponding to it.
alltheyears.sort()
df1=pd.DataFrame(columns=['SUBDIVISION','ANNUAL','YEAR'])
alltheyears

In [ ]:
#In this loop i have a excrated maximum annual rainfall from each year and put it in the empty dataframe created earlier.
for i in range(len(alltheyears)):
 max_data =data_cleaned[data_cleaned.YEAR==alltheyears[i]]
 y=max_data.loc[max_data['ANNUAL'].idxmax()]
 new_data=y[['SUBDIVISION','ANNUAL','YEAR']]
 df=pd.DataFrame([new_data],columns=['SUBDIVISION','ANNUAL','YEAR'])
 df1=df1.append(df,ignore_index=True)

In [ ]:
#AS you can see dataframe is sorted according to the years and maximum rainfall.
df1

In [ ]:
#now basically I have plotted the maximum rainfall in india for each year.
plt.figure(figsize=(50,25))
pp=sns.barplot(df1['YEAR'],df1['ANNUAL'])
#plt.ylabel(x[i],fontsize=20)
pp.set_xlabel('YEAR')
plt.rcParams.update({'font.size': 80})
plt.xticks(rotation=90,fontsize=30)
plt.yticks(fontsize=30)

# Rainfall Predicition for Every State (Andaman and Nicobar Islands)

In [ ]:
data_set= data_cleaned[data_cleaned.SUBDIVISION==x_names[0]] 
req_data= data_set[['ANNUAL','YEAR']]
x=req_data['YEAR'].values.reshape(-1,1)
y=req_data['ANNUAL'].values.reshape(-1,1)

# Train Split Test

In [ ]:
# importing train test split function which will split the into training and testing
from sklearn.model_selection import train_test_split
# Split the variables with an 80-20 split and some random state
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)

In [ ]:
regressor = LinearRegression()
model=regressor.fit(x_train,y_train)
model

In [ ]:
#To retrieve the intercept:
print(model.intercept_)
#For retrieving the slope:
print(model.coef_)

In [ ]:
y_pred =model.predict(x_test)

In [ ]:
pred = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
pred

In [ ]:
pred.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [ ]:
x_new=[[2020]]
print(model.predict(x_new))

# Rainfall Predicition for Every State (ARUNACHAL PRADESH)

In [ ]:
data_set_1= data_cleaned[data_cleaned.SUBDIVISION==x_names[1]] 
req_data1= data_set_1[['ANNUAL','YEAR']]
x1=req_data1['YEAR'].values.reshape(-1,1)
y1=req_data1['ANNUAL'].values.reshape(-1,1)

# Train Split Test

In [ ]:

# Split the variables with an 80-20 split and some random state
x_train1, x_test1, y_train1, y_test1= train_test_split(x1,y1, test_size=0.2, random_state=0)

In [ ]:

model1=regressor.fit(x_train1,y_train1)

In [ ]:
#To retrieve the intercept:
print(model1.intercept_)
#For retrieving the slope:
print(model1.coef_)

In [ ]:
y_pred1 =model1.predict(x_test1)

In [ ]:
pred1 = pd.DataFrame({'Actual': y_test1.flatten(), 'Predicted': y_pred1.flatten()})
pred1

In [ ]:
pred1.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [ ]:
x_new1 = [[2017]]

In [ ]:
print(model1.predict(x_new1))

# Rainfall Predicition for Every State (TAMIL NADU)

In [ ]:
data_set_2= data_cleaned[data_cleaned.SUBDIVISION==x_names[30]] 
req_data2= data_set_2[['ANNUAL','YEAR']]
x2=req_data2['YEAR'].values.reshape(-1,1)
y2=req_data2['ANNUAL'].values.reshape(-1,1)

# TRAIN TEST SPLIT

In [ ]:
# Split the variables with an 80-20 split and some random state
x_train2, x_test2, y_train2, y_test2= train_test_split(x2,y2, test_size=0.2, random_state=0)

In [ ]:
model2=regressor.fit(x_train2,y_train2)
model2

In [ ]:
#To retrieve the intercept:
print(model2.intercept_)
#For retrieving the slope:
print(model2.coef_)

In [ ]:
y_pred2=model2.predict(x_test2)

In [ ]:
pred2 = pd.DataFrame({'Actual': y_test2.flatten(), 'Predicted': y_pred2.flatten()})
pred2

In [ ]:
pred2.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [ ]:
x_new2 = [[2020]]

In [ ]:
print(model2.predict(x_new2))

# Rainfall Predicition for Every State (KERELA)

In [ ]:
data_set_3= data_cleaned[data_cleaned.SUBDIVISION==x_names[34]] 
req_data3= data_set_3[['ANNUAL','YEAR']]
x3=req_data3['YEAR'].values.reshape(-1,1)
y3=req_data3['ANNUAL'].values.reshape(-1,1)

# TEST TRAIN SPLIT

In [ ]:
# Split the variables with an 80-20 split and some random state
x_train3, x_test3, y_train3, y_test3= train_test_split(x3,y3, test_size=0.2, random_state=0)

In [ ]:
model3=regressor.fit(x_train3,y_train3)
model3

In [ ]:
#To retrieve the intercept:
print(model3.intercept_)
#For retrieving the slope:
print(model3.coef_)

In [ ]:
y_pred3=model3.predict(x_test3)

In [ ]:
pred3 = pd.DataFrame({'Actual': y_test3.flatten(), 'Predicted': y_pred3.flatten()})
pred3

In [ ]:
pred3.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [ ]:
x_new3 = [[2018]]

In [ ]:
print(model3.predict(x_new3))

# Rainfall Predicition for Every State (UTTAR PRADESH)

In [ ]:

data_set_a= data_cleaned[data_cleaned.SUBDIVISION==x_names[9]] 
data_set_b =data_cleaned[data_cleaned.SUBDIVISION==x_names[10]] 
data_set_a=data_set_a[['ANNUAL','YEAR']].reset_index(drop=True)
data_set_b=data_set_b[['ANNUAL']].reset_index(drop=True)
data_set_4  = pd.concat([data_set_a,data_set_b],axis=1,ignore_index=True)

data_set_4['ANNUAL']=data_set_4[0] +data_set_4[2]

In [ ]:
x4=data_set_4[1].values.reshape(-1,1)
y4=data_set_4['ANNUAL'].values.reshape(-1,1)

# TRAIN TEST SPLIT

In [ ]:
# Split the variables with an 80-20 split and some random state
x_train4, x_test4, y_train4, y_test4= train_test_split(x4,y4, test_size=0.2, random_state=0)

In [ ]:
model4=regressor.fit(x_train4,y_train4)
model4

In [ ]:
#To retrieve the intercept:
print(model4.intercept_)
#For retrieving the slope:
print(model4.coef_)

In [ ]:
y_pred4=model4.predict(x_test4)

In [ ]:
pred4= pd.DataFrame({'Actual': y_test4.flatten(), 'Predicted': y_pred4.flatten()})
pred4

In [ ]:
pred4.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [ ]:
x_new4= [[2018]]

In [ ]:
print(model4.predict(x_new4))

# Rainfall Predicition for Every State (ASSAM AND MEGHLAYA)

In [ ]:
data_set_5= data_cleaned[data_cleaned.SUBDIVISION==x_names[2]] 
req_data5= data_set_5[['ANNUAL','YEAR']]
x5=req_data5['YEAR'].values.reshape(-1,1)
y5=req_data5['ANNUAL'].values.reshape(-1,1)

# TRAIN TEST SPLIT

In [ ]:
# Split the variables with an 80-20 split and some random state
x_train5, x_test5, y_train5, y_test5= train_test_split(x5,y5, test_size=0.2, random_state=0)

In [ ]:
model5=regressor.fit(x_train5,y_train5)
model5

In [ ]:
#To retrieve the intercept:
print(model5.intercept_)
#For retrieving the slope:
print(model5.coef_)

In [ ]:
y_pred5=model5.predict(x_test5)

In [ ]:
pred5= pd.DataFrame({'Actual': y_test5.flatten(), 'Predicted': y_pred5.flatten()})
pred5

In [ ]:
pred5.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [ ]:
x_new4= [[2018]]

In [ ]:
print(model5.predict(x_new4))